@model CookingPot.Web.ViewModels.MainCourses.AllVegetarianMainCoursesViewModel
@using static CookingPot.Common.GlobalConstants;

@{
    this.ViewData["Title"] = "All vegetarian main courses";
    var pages = new List<int>();
}

<div class="row">
    @foreach (var recipe in Model.AllVegetarianMainCourses)
    {
        <div class="card" style="width: 18rem;margin: 10px">
            <img class="card-img-top" height="200" width="100" src="@recipe.ImageUrl" alt="@recipe.Name">
            <div class="card-body">
                <h5 class="card-title">@recipe.ShortName</h5>
                <p class="card-text">@recipe.ShortDescription</p>
                <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary">View recipe</a>
            </div>
        </div>
    }
</div>

<!--pagination-->
<nav>
    <ul class="pagination justify-content-center">
        @if (Model.PreviousDisabled)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Maincourses" asp-action="AllVegetarianMainCourses" asp-route-page="@Model.PreviousPage" tabindex="-1">Previous</a>
            </li>
        }

        @for (int i = Model.CurrentPage - PagesToShow; i <= Model.CurrentPage + PagesToShow; i++)
        {
            if (i > 0 && i <= Model.MaxPage)
            {
                pages.Add(i);
            }
        }
        <!-- show pages -->
        @for (int i = 0; i < pages.Count; i++)
        {
            var currentPage = pages[i];

            var active = currentPage == Model.CurrentPage ? "active" : string.Empty;

            <li class="page-item @active">
                <a class="page-link" asp-controller="Maincourses" asp-action="AllVegetarianMainCourses" asp-route-page="@currentPage">@currentPage</a>
            </li>
        }

        @if (Model.NextDisabled)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Maincourses" asp-action="AllVegetarianMainCourses" asp-route-page="@Model.NextPage">Next</a>
            </li>
        }
    </ul>
</nav>

