@model CookingPot.Web.ViewModels.Soups.AllVegetarianSoupsViewModel

@{
    this.ViewData["Title"] = "All vegetarian soups";
}

@if(Model.AllVegetarianSoups.Count() == 0)
{
    <div class="center">
        <h4>Subcategory is empty</h4>
    </div>
}
else
{
<div class="row">
    @foreach (var recipe in Model.AllVegetarianSoups)
    {
    <div class="card" style="width: 18rem;margin: 10px">
        <img class="card-img-top" height="200" width="100" src="@recipe.ImageUrl" alt="@recipe.Name">
        <div class="card-body">
            <h5 class="card-title">@recipe.ShortName</h5>
            <p class="card-text">@recipe.ShortDescription</p>
            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary">View recipe</a>
        </div>
    </div>
    }
</div>
}


<div>
    @if (!Model.PreviousDisabled)
    {
        <a asp-controller="Soups" asp-action="AllVegetarianSoups" asp-route-page="@Model.PreviousPage" class="float-left btn btn-success">Prev</a>
    }
    @if (!Model.NextDisabled && Model.AllVegetarianSoups.Count() > 0)
    {
        <a asp-controller="Soups" asp-action="AllVegetarianSoups" asp-route-page="@Model.NextPage" class="float-right btn btn-success">Next</a>
    }
</div>
