@model CookingPot.Web.ViewModels.Recipes.DetailsRecipeViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

@if (this.TempData["InfoMessage"] != null)
{
    <div id="tempData" class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

<div class="jumbotron">
    @if (Model.IsUserInRole)
    {
        <a asp-controller="Recipes" asp-action="AreYouSureDelete" asp-route-id="@Model.Id" class="btn btn-danger float-right">Delete</a>
        <br />
    }
    <span><i class="fas fa-eye"></i> @Model.ViewsCount |</span>
    <span><i class="fas fa-calendar"></i> <time datetime="@Model.CreatedOn.ToString("O")"></time> <em>(@Model.DaysCounter.Days days ago)</em> | <i class="fas fa-user"></i> @Model.ShortUsername</span>
    @if (Model.ModifiedOn.HasValue)
    {
        <span>| <i class="fas fa-edit"></i> <time datetime="@Model.ModifiedOn.Value.ToString("O")"></time></span>
    }
    <form id="votesForm" method="post"></form>
    <div class="float-right">
        <a href="#" onclick="sendVote(@Model.Id, true)">
            <i class="fa fa-thumbs-up"></i>
        </a>
        <span id="positiveVotes">@Model.PositiveVotes</span>
    </div>
    <br />
    <div class="float-right">
        <a href="#" onclick="sendVote(@Model.Id, false)">
            <i class="fa fa-thumbs-down"></i>
        </a>
        <span id="negativeVotes">@Model.NegativeVotes</span>
    </div>
    <h1 class="display-4">@Model.Name</h1>
    <img src="@Model.ImageUrl" alt="@Model.Name" width="500" />
    <hr />
    <h3>Description and preparation:</h3>
    <p class="lead"><i>@Model.Description</i></p>
    <hr />
    <h5>Time to prepare: <i>@Model.TimeToPrepare mins</i></h5>
    <hr class="my-4">
    <p>
        List of needed products:
        <ul>
            @foreach (var product in Model.RecipeProducts)
            {
                <li>@product.Name</li>
            }
        </ul>
    </p>
    <div>
        <button type="button" class="btn btn-primary" id="buttonCommentForm" onclick="showCommentBox()">Comment</button>
        @if (Model.CurrentUserId == Model.UserId || Model.IsUserInRole)
        {
            <a asp-controller="Recipes" asp-action="EditRecipe" asp-route-id="@Model.Id" class="btn btn-primary btn-lg float-right" role="button">Edit</a>
        }

    </div>
    <br />
    <div id="commentsSection">
        <form id="deleteCommentForm" method="post"></form>
        @if (Model.RecipeComments.Any())
        {
            @foreach (var comment in Model.RecipeComments)
            {
                var divCommentId = Guid.NewGuid().ToString();
                <div id="@divCommentId">
                     @if (Model.CurrentUserId == comment.UserId || Model.IsUserInRole)
                     {
                        <a href="#" class="float-right" onclick="deleteComment('@divCommentId', @comment.Id)"><i class="fas fa-trash"></i></a>
                     }
                    <partial name="_DetailsRecipeComments" model="comment" />
                </div>
            }
        }
    </div>
</div>

<form id="commentForm" method="post" style="display: none">
    <div class="form-group">
        <label>Your comment:</label>
        <textarea rows="5" class="form-control" name="Comment" placeholder="Comment must be at least 5 symbols long"></textarea>
    </div>
    <a href="#" class="btn btn-success" onclick="postComment(@Model.Id, '@Model.CurrentUserId')">Add comment</a>
</form>

