@model CookingPot.Web.ViewModels.Recipes.DetailsRecipeViewModel

@{ 
    this.ViewData["Title"] = Model.Name;
}

<div class="jumbotron">
    <span>Created on: @Model.CreatedOn.Day/@Model.CreatedOn.Month/@Model.CreatedOn.Year by @Model.UserUserName</span>
    <h1 class="display-4">@Model.Name</h1>
    <img src="@Model.ImageUrl" alt="@Model.Name" width="500" />
    <p class="lead">@Model.Description</p>
    <hr class="my-4">
    <p>
        List of needed products:
        <ul>
            @foreach (var product in Model.RecipeProducts)
            {
                <li>@product.Name - @product.Quantity</li>
            }
        </ul>
    </p>
    <a class="btn btn-primary btn-lg" href="/@Model.ControllerName/All" role="button">Back</a>
</div>
