@model CookingPot.Web.ViewModels.Recipes.DetailsRecipeViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

<div class="jumbotron">
    <span><i class="fas fa-calendar"></i> @Model.CreatedOn.Day/@Model.CreatedOn.Month/@Model.CreatedOn.Year | <i class="fas fa-user"></i> @Model.UserUserName</span>
    @if (Model.ModifiedOn.HasValue)
    {
        <span>| <i class="fas fa-edit"></i>@Model.ModifiedOn.Value;</span>
    }
    
    <h1 class="display-4">@Model.Name</h1>
    <img src="@Model.ImageUrl" alt="@Model.Name" width="500" />
    <p class="lead">@Model.Description</p>
    <hr class="my-4">
    <p>
        List of needed products:
        <ul>
            @foreach (var product in Model.RecipeProducts)
            {
                <li>@product.Name</li>
            }
        </ul>
    </p>
    <div>
        <a class="btn btn-primary btn-lg float-left" href="/@Model.ControllerName/All" role="button">Back</a>
        @if (Model.CurrentUserId == Model.UserId)
        {
            <a class="btn btn-primary btn-lg float-right" href="/Recipes/EditRecipe?id=@Model.Id" role="button">Edit</a>
        }

    </div>
</div>
