@model CookingPot.Web.ViewModels.Recipes.DetailsRecipeViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

@if (this.TempData["InfoMessage"] != null)
{
    <div id="tempData" class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

<div class="jumbotron">
    <span><i class="fas fa-calendar"></i> @Model.CreatedOn.Day/@Model.CreatedOn.Month/@Model.CreatedOn.Year | <i class="fas fa-user"></i> @Model.ShortUsername</span>
    @if (Model.ModifiedOn.HasValue)
    {
        <span>| <i class="fas fa-edit"></i>@Model.ModifiedOn.Value</span>
    }
    <form id="votesForm" method="post"></form>
    <div class="float-right">
        <a href="#" onclick="sendVote(@Model.Id, true)">
            <i class="fa fa-thumbs-up"></i>
        </a>
        <span id="positiveVotes">@Model.PositiveVotes</span>
    </div>
    <br/>
    <div class="float-right">
        <a href="#" onclick="sendVote(@Model.Id, false)">
            <i class="fa fa-thumbs-down"></i>
        </a>
        <span id="negativeVotes">@Model.NegativeVotes</span>
    </div>
    <h1 class="display-4">@Model.Name</h1>
    <img src="@Model.ImageUrl" alt="@Model.Name" width="500" />
    <p class="lead">@Model.Description</p>
    <hr class="my-4">
    <p>
        List of needed products:
        <ul>
            @foreach (var product in Model.RecipeProducts)
            {
                <li>@product.Name</li>
            }
        </ul>
    </p>
    <div>
        <a class="btn btn-primary btn-lg float-left" href="/@Model.ControllerName/All" role="button">Back</a>
        @if (Model.CurrentUserId == Model.UserId)
        {
            <a class="btn btn-primary btn-lg float-right" href="/Recipes/EditRecipe?id=@Model.Id" role="button">Edit</a>
        }

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
        setTimeout(function () {
        $('#tempData').hide();
        }, 3000);
        });

        function sendVote(recipeId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { recipeId: recipeId, isUpVote: isUpVote };
            $.ajax({
                url: "/api/votes",
                method: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    document.getElementById('positiveVotes').innerHTML = data.positiveVotes;
                    document.getElementById('negativeVotes').innerHTML = data.negativeVotes;
                }
            });
        }

    </script>
}
